@use 'sass:math';
@import 'mixin_sizing';
@import 'variables';

.container-search {
	width: 100%;
	min-height: 100vh;
	background-image: linear-gradient(rgba(0,8,51,0.9), rgba(0,8,51,0.9)), url(./imgs/background.jpg);
	background-position: center;
	background-size: cover;
	
	.form {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	h1 {
		text-align: center;
		font-family: 'Times New Roman', Times, serif;
		color: white;
		font-size: 4em;
		padding: 10px;
	}
}

.searchbar {
	width: 100%;
	max-width: 700px;
	background: rgba(255, 255, 255, 0.2);
	display: flex;
	align-items: center;
	border-radius: 60px;
	padding: 10px 20px;
	margin: 5% 0;
	backdrop-filter: blur(4px) saturate(180%);

	input {
		background: transparent;
		flex: 1;
		border: 0;
		outline: none;
		padding: 24px 20px;
		font-size: 20px;
		color: #cac7ff;
	}

	::placeholder {
		color: #cac7ff;
	}

	button {
		border: 0;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		background: #58629b;
		cursor: pointer;

		img {
			width: 25px;
		}
	}
}

.container-news {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.spacing {
	padding: 10px;
	margin: 10px;
}

.card {
	min-height: 200px;
	max-height: 500px;
	background: rgba(255, 255, 255, 0.2);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	a {
		color: #cac7ff;
	}
	
	img {
		width: 100%;
		height: 200px;
		max-height: 50%;
	}

	@extend .spacing;
	&-title {
		font-weight: 500;
	}
	&-text {
		margin-top: 10px;
	}
}

@include sm() {
	@for $i from 1 through $cols {
		.col-sm-#{$i} {
			width: math.div($i * 100%, 12);
		}
	}
}
@include md() {
	@for $i from 1 through $cols {
		.col-md-#{$i} {
			width: math.div($i * 100%, 12);
		}
	}
}
@include lg() {
	@for $i from 1 through $cols {
		.col-lg-#{$i} {
			width: math.div($i * 100%, 12);
		}
	}
}
@include xl() {
	@for $i from 1 through $cols {
		.col-xl-#{$i} {
			width: math.div($i * 100%, 12);
		}
	}
}